main {
    .quantity-wrap {
        .b-right-0 {
            border-right-style: none;
        }
        .q-choices {
            border-left-style: none;
        }
    }
    .accordion {
        outline: 0;
    }
    .slider-related-items {
        .card {
            width: 33.3333%;
        }
    }
    .slider-cust {
        .card {
            width: 33.3333%;
        }
    }
}

@media only screen and (min-width: '1280px') and (max-width: '1500px') {
    main {
        .slider-main .flickity-page-dots {
            display: none;
            }
        .slider-cust {
            .flickity-button {
                display: none;
            }
            .card {
                width: 20%;
            }
        }
        .slider-related-items {
            .card {
                width: 20%;
            }
        }
    }
}

@media only screen and (min-width: '768px') and (max-width: '1279px') {
    main { 
        .slider-main .flickity-page-dots {
        display: none;
        }
        .slider-cust {
           .card {
                width: 25%;
           }
        }
        .slider-related-items {
           .card {
                width: 25%;
           }
        }
    }
}

@media only screen and (min-width: '501px') and (max-width: '767px') {
    main {
        .slider-main {
            width: 80%;
            margin: 0 auto;
           
        }
        .product {
            margin-left: 0;
            margin-right: 0;
            .prod-info {
                padding: 0 1rem;
                margin: 1rem;
                margin-top: 2rem;
            }
        }
        .slider-nav-wrap {
            display: none;
        }
       
    }
}

@media only screen and (min-width: '350px') and (max-width: '500px') {
    main {
        .slider-main {
            width: 100%;
            margin: 0;
        }
        .product {
            margin-left: 0;
            margin-right: 0;
            .prod-info {
                padding: 0 1rem;
                margin: 1rem;
                margin-top: 2rem;
            }
        }
        .slider-nav-wrap {
            display: none;
        }
    
    }
}