main {
    .quantity-wrap {
        .b-right-0 {
            border-right-style: none;
        }
        .q-choices {
            border-left-style: none;
        }
    }
    .accordion {
        outline: 0;
    }
    .slider-related-items {
        .card {
            width: 33.3333%;
        }
    }
    .slider-cust {
        .card {
            width: 33.3333%;
        }
    }
}

@media only screen and (min-width: '1280px') and (max-width: '1500px') {
    main {
        .slider-cust {
            .flickity-button {
                display: none;
            }
            .card {
                width: 20%;
            }
        }
        .slider-related-items {
            .card {
                width: 20%;
            }
        }
    }
}

@media only screen and (min-width: '768px') and (max-width: '1279px') {
    main {
        .slider-cust {
           .card {
                width: 25%;
           }
        }
        .slider-related-items {
           .card {
                width: 25%;
           }
        }
    }
}